name: CNEMC Realtime Update

on:
  schedule:
    - cron: '31 * * * *'  # 每小时的 31 分钟，UTC 时间
  workflow_dispatch:      # 允许手动补跑

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        pip install requests numpy pandas
    - name: Run Python
      run: |
        python cnemc_whole.py
    - name: Commit changes if any
      run: |
        git config --global user.email "BOT@github.com"
        git config --global user.name "githubBOT"
        git add .
        git diff --quiet || git commit -m "update realtime data" -a
    - name: Who am I (git)
      run: |
        git remote -v
        git config --get user.name
        git config --get user.email
    - name: Push with PAT
      run: |
        git remote set-url origin https://x-access-token:${{ secrets.GTOKEN }}@github.com/StorywithLove/workflow.git
        git push origin main
